<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-subtitle>setup works!</mat-card-subtitle>

    <mat-card-content>
      <ng-container *ngIf="(inputs$ | async) as inputs">
        <mat-form-field appearance="fill">
          <mat-label>Entrada de audio</mat-label>
          <mat-select formControlName="input">
            <mat-option value="default">- Selecione -</mat-option>
            <mat-option *ngFor="let input of inputs" [value]="input.deviceId">
              {{ input.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="(outputs$ | async) as outputs">
        <mat-form-field appearance="fill">
          <mat-label>Saida de audio</mat-label>
          <mat-select formControlName="output">
            <mat-option value="default">- Selecione -</mat-option>
            <mat-option *ngFor="let output of outputs" [value]="output.deviceId">
              {{ output.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </mat-card-content>

    <mat-card-actions [align]="'end'">
      <button mat-stroked-button>Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>